<?xml version="1.0" encoding="utf-8"?>
<!-- 
	Copyright (C) 2010, 2011 Herbert von Broeuschmeul
	Copyright (C) 2010, 2011 BluetoothGPS4Droid Project
	  
	This file is part of BluetoothGPS4Droid.
	
	BluetoothGPS4Droid is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	BluetoothGPS4Droid is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with BluetoothGPS4Droid. If not, see : http://www.gnu.org/licenses/.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.broeuschmeul.android.gps.internal.provider"
      android:versionCode="124"
      android:versionName="@string/versionName">
    <application android:icon="@drawable/ic_launcher_bluegps" android:label="@string/app_name" android:allowClearUserData="true">
        <activity android:name="org.broeuschmeul.android.gps.bluetooth.provider.BluetoothGpsActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--  
		<service android:name=".BluetoothGpsProviderService" android:enabled="true" android:exported="true" android:process=":BluetoothGpsProviderService" >
-->
		<service android:name="org.broeuschmeul.android.gps.bluetooth.provider.BluetoothGpsProviderService" android:enabled="true" android:exported="true" >
			<intent-filter>
				<action android:name="org.broeuschmeul.android.gps.internal.tracker.nmea.intent.action.START_TRACK_RECORDING">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
				<action android:name="org.broeuschmeul.android.gps.internal.tracker.nmea.intent.action.STOP_TRACK_RECORDING">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
				<action android:name="org.broeuschmeul.android.gps.internal.provider.nmea.intent.action.START_GPS_PROVIDER">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
				<action android:name="org.broeuschmeul.android.gps.internal.provider.nmea.intent.action.STOP_GPS_PROVIDER">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
				<action android:name="org.broeuschmeul.android.gps.internal.provider.nmea.intent.action.CONFIGURE_SIRF_GPS">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>			
		</service>

		<!-- begin backport.android.bluetooth -->
		
		<activity android:name="backport.android.bluetooth.RequestEnableActivity"
			android:label="Bluetooth Permission Request" android:noHistory="true"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="orientation|keyboardHidden">
		    <intent-filter>
		
		      <!-- ${your package name}.action.REQUEST_ENABLE -->
		      <action android:name="org.broeuschmeul.android.gps.bluetooth.provider.action.REQUEST_ENABLE" />
		
		      <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		</activity>
		
		
		<activity android:name="backport.android.bluetooth.RequestDiscoverableActivity"
			android:label="Bluetooth Permission Request" android:noHistory="true"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="orientation|keyboardHidden">
		    <intent-filter>
		
		      <!-- ${your package name}.action.REQUEST_DISCOVERABLE -->
		      <action android:name="org.broeuschmeul.android.gps.bluetooth.provider.action.REQUEST_DISCOVERABLE" />
		
		      <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		</activity>
		
		
		<receiver android:name="backport.android.bluetooth.BluetoothIntentRedirector">
			<intent-filter>
			  <action android:name="android.bluetooth.intent.action.DISCOVERY_COMPLETED" />
			  <action android:name="android.bluetooth.intent.action.DISCOVERY_STARTED" />
			  <action android:name="android.bluetooth.intent.action.NAME_CHANGED" />
			  <action android:name="android.bluetooth.intent.action.SCAN_MODE_CHANGED" />
			  <action android:name="android.bluetooth.intent.action.BLUETOOTH_STATE_CHANGED" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CONNECTED" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECTED" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECT_REQUESTED" />
			  <action android:name="android.bluetooth.intent.action.BOND_STATE_CHANGED" />
			  <action android:name="android.bluetooth.intent.action.PAIRING_REQUEST" />
			  <action android:name="android.bluetooth.intent.action.PAIRING_CANCEL" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CLASS_UPDATED" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_FOUND" />
			  <action android:name="android.bluetooth.intent.action.REMOTE_NAME_UPDATED" />
			</intent-filter>
		</receiver>

		<!-- end backport.android.bluetooth -->
	
	</application>
	
	<!-- begin backport.android.bluetooth -->
	
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	
	<!-- ${your package name}.PERMISSION -->
	<uses-permission android:name="org.broeuschmeul.android.gps.bluetooth.provider.PERMISSION"></uses-permission>

	<!-- begin backport.android.bluetooth -->


	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	
</manifest> 
