<?xml version="1.0" encoding="utf-8"?><!--
	Copyright (C) 2010, 2011, 2012, 2013 Herbert von Broeuschmeul
	Copyright (C) 2010, 2011, 2012, 2013 BluetoothGPS4Droid Project
	Copyright (C) 2011, 2012, 2013 UsbGPS4Droid Project
	  
	This file is part of UsbGPS4Droid.
	
    UsbGPS4Droid is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UsbGPS4Droid is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with UsbGPS4Droid.  If not, see http://www.gnu.org/licenses/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.broeuschmeul.android.gps.usb.provider">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />


    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".USBGpsApplication">
        <receiver
            android:name=".driver.USBGpsProviderService$BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.GpsInfoActivity"
            android:label="@string/info_activity_title"
            android:launchMode="singleTask">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".driver.USBGpsProviderService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.broeuschmeul.android.gps.usb.tracker.nmea.intent.action.START_TRACK_RECORDING" />
                <action android:name="org.broeuschmeul.android.gps.usb.tracker.nmea.intent.action.STOP_TRACK_RECORDING" />
                <action android:name="org.broeuschmeul.android.gps.usb.provider.nmea.intent.action.START_GPS_PROVIDER" />
                <action android:name="org.broeuschmeul.android.gps.usb.provider.nmea.intent.action.STOP_GPS_PROVIDER" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>